asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.7
django-cors-headers==3.8.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
gunicorn==20.1.0
h11==0.12.0
idna==3.2
itypes==1.2.0
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
psycopg2==2.9.1
pyaml==21.8.3
PyJWT==2.1.0
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
sqlparse==0.4.2
uritemplate==3.0.1
urllib3==1.26.6
uvicorn==0.15.0
